/webapp/js/
/webapp/perl/
/webapp/php/
/webapp/python/
/webapp/ruby/
/webapp/scala/
.bash_history
.bash_logout
.bashrc
.cache/
.local/
.profile
.sudo_as_admin_successful
.xbuild/
bin/
.cmake/
.rnd
.viminfo
/webapp/go/src/
/webapp/go/pkg/
/webapp/go/bin/
.config/
.gitconfig
.wget-hsts

